ul#main-menu, ul#main-menu .sub-menu {
    list-style-type: none;
    padding-left: 0;
}
ul#main-menu li {
    display: block;
    padding: 5px 0;
}
ul#main-menu a {
    text-decoration: none;
    color: #f8f9fa;
    font-size: 15px;
}
ul#main-menu li:hover > a, ul#main-menu a.active, ul#main-menu li.active > a {
    color: #0dcaf0;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
ul#main-menu .menu-item.has-sub > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul#main-menu .sub-menu {
    padding-left: 35px;
    padding-top: 10px;
    display: none;
}

.icon-menu-mobile {
    display: none;
    position: absolute;
    left: 100%;
    top: calc(50vh - 15px);
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 3px;
    text-align: center;
    transition: all 0.8s ease-in-out;
}

.icon-menu-mobile a {
    color: #212529;
}

@media only screen and (max-width: 1024px) {
    .icon-menu-mobile {
        display: block;
    }
    #sidebar.active .icon-menu-mobile .bi-bar-chart-steps::before {
        content: "\f62a";
    }
}